body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #E3D4D1;
}

header {
    background: #628A77; /* green heading */
    color: Black;
    padding: 20px;
    text-align: center;
}

nav a {
    color: black;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 40px;
    background: #FFF9F2;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
}
.footer-centered__social i {
    font-size: 28px;
    color: #0A66C2; /* LinkedIn blue */
    transition: color 0.3s ease;
}

